# Managed by pyinfra (deploys/xdg_dirs.py) - local edits will be overwritten.
# Only DOWNLOAD is defined, so xdg-user-dirs-update won't (re)create the
# other default folders (Desktop, Documents, Music, Pictures, etc.).
DOWNLOAD={{ xdg_download_dirname }}
